<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/footer.css">
    <title>footer</title>
</head>
<body>
    <footer class="footer">
        <div class="leftbox footer-text">
            <p>Copyright ⓒ KONKUK UNIVERSITY KUGGLE</p>
            <p>All Rights Reserved.</p>
            <p>Head Developer E-mail: soyeong2@konkuk.ac.kr</p>
        </div>
        <div class="rightbox">
            <div class="right-inner footer-text">
                <p>&lt; Kuggle 4th Team 4 &gt;</p>
                <p>&emsp;Soyeong Sohn</p>
                <p>&emsp;Eunseo Choi</p>
                <p>&emsp;Dahye Shin</p>
        </div>
        </div>
    </footer>
</body>
</html>